// App Screenshot Section
#app-screenshot{
    margin-top: 45.56px;
    .title{
        margin-bottom: 50px;
    }
    .ss-group{
        .owl-item{
            display: flex;
            justify-content: center;
        }
    }
    
}