// FAQ Section

#faq{
    margin-top: 70px;
    padding: 56px;
    @include breakpoint(phone){
        padding: 10px;
    }  
    .faq-img{
        @include breakpoint(phone){
            width: 100%;
        }  
        @include breakpoint(tablet){
            width: 100%;
        }  
    }
    .accordion-button{
        margin-top: 20px;
        .title{
            border: 1px solid darken($primary-color,30%);
            border-radius: 100px;
            padding: 10px 21px;
            width: 590px;
            font-weight: 600;
            box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: space-between;
            background-color: $white-color;
            cursor: pointer;
            transition: 0.5s ease;
            display: flex;
            align-items: center;
            @include breakpoint(phone){
                width: 100%;
                font-size: 14px;
            }   
            @include breakpoint(tablet){
                width: 100%;
            }   
            @include breakpoint(desktop){
                width: 100%;
            }   
            &:hover{
               box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 12px 9px 4px rgba(0, 0, 0, 0.25);
            }
            span{
                margin-top: 10px;
                width: 90%;
            }
            a{
                background-color: $primary-color;
                text-align: center;
                text-decoration: none;
                padding-top: 9px;
                border-radius: 50%;
                width: 39px;
                height: 39px;
                transition: 0.5s ease;
                svg{
                    width: 15.5px;
                    height: 15.5px;
                }

            }
        }

        

        .content{
            display: none;
            border: 1px solid $primary-color;
            padding: 0px 22px;
            padding-top: 80px;
            width: 590px;
            height: auto;
            top: -58px;
            z-index: -1;
            border-radius: 33px;
            box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
            transition: 0.5s ease;
            @include breakpoint(tablet){
                width: 638px;
            }
            @include breakpoint(ipad-pro){
                width: 440px;
            }
            @include breakpoint(desktop){
                width: 100%;
            }

        }
        
    }
    .open{
        .title{
            background-color: $primary-color;
            position: absolute;
            box-shadow: none;
            transition: 0.5s ease;
            @include breakpoint(phone){
                width: 91%;
            }   
            @include breakpoint(tablet){
                width: 95%;
            }   
            @include breakpoint(desktop){
                width: 100%;
            }   
        }
        span{
            width: 90%;
        }
        a{
            background-color: $white-color!important;
            transform: rotate(180deg);
            transition: 0.5s ease;
            svg path {
                    fill: $primary-color;
                }
        }
        .content{
            display: block;
            transition: 0.5s ease;
            @include breakpoint(phone){
                width: 100%;
            }  

        }
    }
}