// feature section
#feature{
    .illustration{
        padding: 45px 66px;
        img{
            @include breakpoint(phone){
                width: 100%;
            }
            @include breakpoint(tablet){
                width: 90%;
            }
        }
        .slice-ball-1{
            position: absolute;
            width: 101px;
            top: 0;
            left: 0;
            @include animation(horizontal-translate,10s);
            @include breakpoint(phone){
                left: 90%;
            }
        }
        .slice-ball-2{
            position: absolute;
            width: 305px;
            bottom: 0;
            right: 0;
            margin: 2em 17em;
            z-index: -1;
            @include breakpoint(phone){
                width: 206px;
                margin: 0em 5em;
            }
            @include breakpoint(tablet){
                width: 506px;
                margin: 0em 14em;
            }
            @include breakpoint(ipad-pro){
                width: 306px;
                margin: 0em 10em;
            }
        }
    }
    .content{
        padding-top: 111px;
        padding-left: 116px;
        @include breakpoint(phone){
            padding-left: 30px;
        }
        @include breakpoint(tablet){
            padding: 10px  25px;
        }
        .grad-shape{
            position: absolute;
            top: 0;
            left: 0;
            margin: 50px;
            z-index: -1;
            @include breakpoint(phone){
                margin: 56px -36px;
            }
            @include breakpoint(tablet){
                margin: -20px -27px;
            }
        }
        .slice-ball{
            position: absolute;
            width: 101px;
            right: 0;
            bottom: 0;
            margin: 110px;
            @include animation(move-left,10s);
            @include breakpoint(phone){
                margin: 110px 0px;
            }
        }
         h5{
            font-size: 24px;
            font-weight: bold;
            line-height: 112%;
            letter-spacing: 0.12em;
        }
        h2{
            font-weight: bold;
            font-size: 48px;
            line-height: 112%;
            color: #BA77B5;
            @include breakpoint(phone){
                font-size: 40px;
            }
        }
        ul{
            padding: 0px;
            li{
                list-style: none;
                display: flex;
                align-items: center;
                margin-top: 20px;
                svg{
                        width: 50px;
                        height: 50px;
                    }
                p{
                    font-size: 18px;
                    line-height: 27px;
                    color: #B2AFB2;
                    margin-left: 9px;
                    @include breakpoint(phone){
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }
         .button{
             display: flex;
             justify-content: flex-end;
             a{
                 @include button2-outline();
                 @include breakpoint(phone){
                     padding: 5px 25px;
                 }
            }
         }
    }
}