// Pricing Section

#pricing{
   .title{
       margin-bottom: 100px;
       @include breakpoint(phone){
           margin-bottom: 50px;
           margin-top: 50px;
       }
   }
    h2{
        margin-bottom: 50px;
        @include breakpoint(tablet){
            margin-top: 100px;
            margin-bottom: 80px;
        }
    }
    .price-box-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon{
            background-color: $primary-color;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            padding: 30px;
            position: absolute;
            z-index: 1;
            top: 7px;
            @include breakpoint(phone){
                top: 23px;
                width: 75px;
                height: 75px;
                padding: 25px;
            }   
            @include breakpoint(tablet){
                top: 45px;
            }   
            svg{
                width: 44px;
                height: 44px;
                fill: $white-color;
                @include breakpoint(phone){
                    width: 25px;
                    height: 25px;
                }
            }
    }

    .price-box{
        border: 1px solid $primary-color;
        width: 100%;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include breakpoint(tablet){
            margin-top: 100px;
            width: 450px;
        }
        h2,h3,ul{
            text-align: center;
        }
        h2{
            padding-top: 75px;
            font-weight: bold;
            @include breakpoint(tablet){
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
        h3{
            margin-top:32px;
            margin-bottom:39px;
            font-size: 23px;
        }

        ul{
            margin-top:40px;
            margin-bottom:5vh;
            list-style-position: inside;
            padding: 0;
            li{
                font-size: 18px;
                line-height: 40px;
                color: $font-color-2;
                @include list-dot();
            }
        }
        a{
            @include button1-outline();
            margin-bottom: 20px;
            padding: 10px 30px;
        }
    }
}