@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes blur {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes blur {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes horizontal-translate {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  75% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes horizontal-translate {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  75% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes move-left {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
}

@keyframes move-left {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
}

@-webkit-keyframes side-rotating {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes side-rotating {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2, 2);
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p {
  font-size: 12px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #662962;
  overflow: hidden;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #8b3784;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:nth-child(2) {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
  background: #C266BB;
}

.preloader-icon img {
  width: 50px;
  height: 50px;
  -webkit-animation: side-rotating 7s linear infinite;
  animation: side-rotating 7s linear infinite;
}

.scrollToTop {
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  z-index: 999;
  top: 400px;
  right: 30px;
  position: fixed;
  border-radius: 5px;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  background: #af46a7;
  text-align: center;
  font-size: 16px;
  visibility: hidden;
}

.scrollToTop.active {
  -webkit-transform: translateY(100);
  transform: translateY(100);
  animation: bounceInDown 2s;
  -webkit-animation: bounceInDown 2s;
  -moz-animation: bounceInDown 2s;
  visibility: visible;
}

@media (min-width: 0px) and (max-width: 575px) {
  .show {
    z-index: 100;
    opacity: 1;
  }
}

.hide {
  z-index: 100;
}

@media (min-width: 0px) and (max-width: 575px) {
  .hide {
    z-index: -1;
    opacity: 0;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.header-section .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header-section .header-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 31px;
  }
}

.header-section .header-wrapper .logo {
  margin-left: 5em;
}

.header-section .header-wrapper .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header-section .header-wrapper .logo span {
  color: white;
  font-size: 21px;
  margin-left: 10px;
}

.header-section .header-wrapper .logo img {
  width: 30px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header-section .header-wrapper .logo {
    margin-left: 5px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .header-section .header-wrapper .logo {
    margin-left: 40px;
  }
}

.header-section .header-wrapper .burger-button {
  display: none;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header-section .header-wrapper .burger-button {
    display: block;
  }
  .header-section .header-wrapper .burger-button i {
    color: white;
    font-size: 31px;
  }
}

.header-section .header-wrapper .overlay-layer {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header-section .header-wrapper .menu {
  margin-left: 21vw;
  margin-top: 33px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header-section .header-wrapper .menu {
    background-color: white;
    position: absolute;
    margin: 11em 0;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .header-section .header-wrapper .menu {
    margin-top: 0px;
  }
}

@media (min-width: 1440px) and (max-width: 1536px) {
  .header-section .header-wrapper .menu {
    margin-left: 23vw;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  .header-section .header-wrapper .menu {
    margin-left: 25vw;
  }
}

.header-section .header-wrapper .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header-section .header-wrapper .menu ul {
    display: inline;
  }
}

.header-section .header-wrapper .menu ul li {
  list-style: none;
  margin-right: 20px;
  font-size: 15px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header-section .header-wrapper .menu ul li {
    margin: 10px;
    border-bottom: 1px solid #C266BB;
  }
}

.header-section .header-wrapper .menu ul li a {
  color: #C266BB;
  text-decoration: none;
}

.header-section .header-wrapper .menu ul li a:hover {
  border-bottom: 2px solid #C266BB;
  border-radius: 2px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.header-section .header-wrapper .menu ul li:nth-child(7) {
  margin-right: 25%;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header-section .header-wrapper .menu ul li:nth-child(7) {
    margin-right: 10px;
  }
}

.header-section .header-wrapper .menu ul li:nth-child(8) .select-lang {
  color: #C266BB;
  border: none;
}

.header-section .header-wrapper .menu ul li:nth-child(8) .select-lang .list {
  display: block;
}

.header-section .header-wrapper .menu ul li:nth-child(8) .select-lang::after {
  border-color: #C266BB;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header-section .header-wrapper .menu ul li:nth-child(8) {
    border: none;
  }
}

#banner-1 .bg-img img {
  position: absolute;
  top: 0;
  height: 43em;
  width: 100%;
  z-index: -1;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .bg-img img {
    height: 69em;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #banner-1 .bg-img img {
    height: 41em;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .banner-shape {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #banner-1 .banner-shape {
    display: none;
  }
}

#banner-1 .banner-shape img {
  top: 0;
  right: 0;
  width: 65%;
  height: 37em;
  position: absolute;
}

#banner-1 .banner-content {
  width: 361px;
  margin-top: 70px;
  margin-left: 90px;
  color: #ffffff;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .banner-content {
    width: 200px;
    margin-top: 5vh;
    margin-left: 5vw;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #banner-1 .banner-content {
    width: 200px;
    margin-left: 50px;
  }
}

#banner-1 .banner-content h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .banner-content h2 {
    font-size: 25px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #banner-1 .banner-content h2 {
    font-size: 35px;
  }
}

#banner-1 .banner-content p {
  font-size: 18px;
  color: #E5E5E5;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .banner-content p {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #banner-1 .banner-content p {
    font-size: 14px;
  }
}

#banner-1 .banner-content a {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 13px 50px;
  border-radius: 5px;
  line-height: 74px;
}

#banner-1 .banner-slider img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 670px;
  width: 333px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .banner-slider img {
    margin-top: 40px;
    height: 590px;
    width: 280px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #banner-1 .banner-slider img {
    width: 18em;
    height: 600px;
    margin-top: 0vh;
  }
}

#banner-1 .slider-button-group {
  margin-top: 120px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .slider-button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
}

#banner-1 .slider-button-group .active {
  background: url("../images/button-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .slider-button-group .active {
    -webkit-box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

#banner-1 .slider-button-group .active .text {
  color: #ffffff;
}

#banner-1 .slider-button-group .active .text h3 {
  color: #ffffff !important;
  font-size: 20px;
}

#banner-1 .slider-button-group .active svg path {
  fill: #ffffff;
}

#banner-1 .slider-button-group .icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C266BB;
  border: 1px solid #C266BB;
  width: 321px;
  text-decoration: none;
  padding-left: 10px;
  margin: 10px;
}

#banner-1 .slider-button-group .icon-button::before {
  content: "";
  opacity: 0;
  left: 25px;
  width: 321px;
  height: 77px;
  background: url("../images/button-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
  position: absolute;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .slider-button-group .icon-button::before {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .slider-button-group .icon-button {
    width: 50px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #banner-1 .slider-button-group .icon-button {
    width: 50px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
  }
}

#banner-1 .slider-button-group .icon-button:hover::before {
  opacity: 1;
}

#banner-1 .slider-button-group .icon-button:hover {
  -webkit-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .slider-button-group .icon-button:hover {
    background-color: #C266BB;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #banner-1 .slider-button-group .icon-button:hover {
    background-color: #C266BB;
  }
}

#banner-1 .slider-button-group .icon-button:hover .text {
  color: #ffffff;
}

#banner-1 .slider-button-group .icon-button:hover .text h3 {
  color: #ffffff;
}

#banner-1 .slider-button-group .icon-button:hover svg path {
  fill: #ffffff;
}

#banner-1 .slider-button-group .icon-button .icon {
  z-index: 1;
}

#banner-1 .slider-button-group .icon-button .icon svg {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  fill: #662962;
}

#banner-1 .slider-button-group .icon-button .text {
  z-index: 1;
  width: 232px;
  padding-top: 10px;
}

#banner-1 .slider-button-group .icon-button .text h3 {
  font-size: 20px;
  font-weight: bold;
  color: #662962;
  line-height: 13px;
}

#banner-1 .slider-button-group .icon-button .text p {
  font-size: 12px;
  line-height: 15px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #banner-1 .slider-button-group .icon-button .text {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #banner-1 .slider-button-group .icon-button .text {
    display: none;
  }
}

#subscribe {
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  padding-left: 5em;
}

#subscribe .bg-shape {
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0;
}

@media (min-width: 576px) and (max-width: 1024px) {
  #subscribe .bg-shape {
    height: 28%;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  #subscribe .bg-shape {
    height: 50%;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  #subscribe {
    margin-top: 20px;
    padding-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #subscribe {
    margin-top: 20px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  #subscribe .subscribe-img {
    width: 100%;
    margin: 10px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #subscribe .subscribe-img {
    width: 100%;
  }
}

#subscribe h5 {
  font-size: 24px;
  letter-spacing: 0.12em;
}

#subscribe h2 {
  font-size: 48px;
  color: #C266BB;
  letter-spacing: 0.05em;
}

#subscribe p {
  font-size: 18px;
  color: #B2AFB2;
  letter-spacing: 0.1em;
  line-height: 184%;
}

#subscribe .subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#subscribe .subscribe-form input[type=text] {
  border: 1px solid #C266BB;
  border-radius: 100px;
  width: 100%;
  height: 80px;
  padding: 28px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #subscribe .subscribe-form input[type=text] {
    height: 55px;
  }
}

#subscribe .subscribe-form input[type=text]::-webkit-input-placeholder {
  color: #B2AFB2;
  font-size: 21px;
}

#subscribe .subscribe-form input[type=text]:-ms-input-placeholder {
  color: #B2AFB2;
  font-size: 21px;
}

#subscribe .subscribe-form input[type=text]::-ms-input-placeholder {
  color: #B2AFB2;
  font-size: 21px;
}

#subscribe .subscribe-form input[type=text]::placeholder {
  color: #B2AFB2;
  font-size: 21px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #subscribe .subscribe-form input[type=text]::-webkit-input-placeholder {
    font-size: 12px;
  }
  #subscribe .subscribe-form input[type=text]:-ms-input-placeholder {
    font-size: 12px;
  }
  #subscribe .subscribe-form input[type=text]::-ms-input-placeholder {
    font-size: 12px;
  }
  #subscribe .subscribe-form input[type=text]::placeholder {
    font-size: 12px;
  }
}

#subscribe .subscribe-form input[type=text]:focus {
  outline: none;
}

#subscribe .subscribe-form a {
  background-color: #C266BB;
  color: #ffffff;
  border-radius: 100px;
  text-decoration: none;
  position: absolute;
  right: 40px;
  margin-top: 20px;
  padding: 10px 30px;
}

#subscribe .subscribe-form a:hover {
  color: #C266BB;
  background-color: white;
  border: 1px solid #C266BB;
  border-radius: 100px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

@media (min-width: 0px) and (max-width: 575px) {
  #subscribe .subscribe-form a {
    margin-top: 15px;
    font-size: 12px;
    padding: 5px 10px;
  }
}

#security .illustration {
  margin: 30px;
  width: 90%;
}

@media (min-width: 0px) and (max-width: 575px) {
  #security .illustration {
    margin: 10px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #security .illustration {
    margin: 20px;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  #security .illustration {
    margin: 50px;
  }
}

#security .box-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 90px;
  z-index: -1;
  -webkit-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}

@media (min-width: 0px) and (max-width: 575px) {
  #security .box-animation {
    top: -34px;
    padding: 60px;
  }
}

@media (min-width: 1440px) and (max-width: 1536px) {
  #security .box-animation {
    top: -85px;
    padding: 120px;
  }
}

#security .ball-slice {
  position: absolute;
  top: -52px;
  right: 92px;
  width: 305px;
  height: 305px;
  -webkit-animation: blur 3s linear infinite;
  animation: blur 3s linear infinite;
}

@media (min-width: 0px) and (max-width: 575px) {
  #security .ball-slice {
    top: 0;
    right: 0;
  }
}

#security .content {
  padding-top: 96px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #security .content {
    margin: 10px;
    padding-top: 16px;
  }
}

#security .content h5 {
  font-size: 24px;
  line-height: 112%;
  letter-spacing: 0.12em;
}

#security .content h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 112%;
  color: #BA77B5;
}

#security .content ul {
  padding: 25px;
}

#security .content ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #858585;
  list-style: none;
}

#security .content ul li::before {
  content: "\2022";
  color: #C266BB;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#app-statistic {
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 31px;
}

#app-statistic .icon svg {
  fill: #ffffff;
  width: 30px;
}

#feature .illustration {
  padding: 45px 66px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #feature .illustration img {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #feature .illustration img {
    width: 90%;
  }
}

#feature .illustration .slice-ball-1 {
  position: absolute;
  width: 101px;
  top: 0;
  left: 0;
  -webkit-animation: horizontal-translate 10s linear infinite;
  animation: horizontal-translate 10s linear infinite;
}

@media (min-width: 0px) and (max-width: 575px) {
  #feature .illustration .slice-ball-1 {
    left: 90%;
  }
}

#feature .illustration .slice-ball-2 {
  position: absolute;
  width: 305px;
  bottom: 0;
  right: 0;
  margin: 2em 17em;
  z-index: -1;
}

@media (min-width: 0px) and (max-width: 575px) {
  #feature .illustration .slice-ball-2 {
    width: 206px;
    margin: 0em 5em;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #feature .illustration .slice-ball-2 {
    width: 506px;
    margin: 0em 14em;
  }
}

@media (width: 1024px) {
  #feature .illustration .slice-ball-2 {
    width: 306px;
    margin: 0em 10em;
  }
}

#feature .content {
  padding-top: 111px;
  padding-left: 116px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #feature .content {
    padding-left: 30px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #feature .content {
    padding: 10px  25px;
  }
}

#feature .content .grad-shape {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px;
  z-index: -1;
}

@media (min-width: 0px) and (max-width: 575px) {
  #feature .content .grad-shape {
    margin: 56px -36px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #feature .content .grad-shape {
    margin: -20px -27px;
  }
}

#feature .content .slice-ball {
  position: absolute;
  width: 101px;
  right: 0;
  bottom: 0;
  margin: 110px;
  -webkit-animation: move-left 10s linear infinite;
  animation: move-left 10s linear infinite;
}

@media (min-width: 0px) and (max-width: 575px) {
  #feature .content .slice-ball {
    margin: 110px 0px;
  }
}

#feature .content h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 112%;
  letter-spacing: 0.12em;
}

#feature .content h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 112%;
  color: #BA77B5;
}

@media (min-width: 0px) and (max-width: 575px) {
  #feature .content h2 {
    font-size: 40px;
  }
}

#feature .content ul {
  padding: 0px;
}

#feature .content ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

#feature .content ul li .icon {
  border: 1px solid #C266BB;
  border-radius: 100px;
  padding: 10px;
}

#feature .content ul li .icon svg {
  width: 20px;
  height: 20px;
  fill: #C266BB;
}

#feature .content ul li p {
  font-size: 18px;
  line-height: 27px;
  color: #B2AFB2;
  margin-left: 9px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #feature .content ul li p {
    font-size: 14px;
    line-height: 21px;
  }
}

#feature .content .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#feature .content .button a {
  border: 1px solid #B158AC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 17px 77px;
  text-decoration: none;
  color: #5A4F4F;
}

#feature .content .button a:hover {
  background-color: #C266BB;
  color: white;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

@media (min-width: 0px) and (max-width: 575px) {
  #feature .content .button a {
    padding: 5px 25px;
  }
}

#pricing .title {
  margin-bottom: 100px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #pricing .title {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

#pricing h2 {
  margin-bottom: 50px;
}

@media (min-width: 576px) and (max-width: 1024px) {
  #pricing h2 {
    margin-top: 100px;
    margin-bottom: 80px;
  }
}

#pricing .icon {
  background-color: #C266BB;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 30px;
  position: absolute;
  margin-left: 9.5em;
  z-index: 1;
  top: -50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #pricing .icon {
    top: 0;
    margin: 4vh 33vw;
    width: 75px;
    height: 75px;
    padding: 25px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #pricing .icon {
    top: 0;
    margin-left: 40vw;
  }
}

@media (width: 1024px) {
  #pricing .icon {
    margin-left: 43vw;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  #pricing .icon {
    margin-left: 13vw;
  }
}

#pricing .icon svg {
  width: 44px;
  height: 44px;
  fill: #ffffff;
}

@media (min-width: 0px) and (max-width: 575px) {
  #pricing .icon svg {
    width: 25px;
    height: 25px;
  }
}

#pricing .price-box {
  border: 1px solid #C266BB;
  height: 536px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 575px) {
  #pricing .price-box {
    margin: 10vh 0px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #pricing .price-box {
    margin: 50px auto;
    width: 450px;
    height: 560px;
  }
}

@media (width: 1024px) {
  #pricing .price-box {
    width: 55%;
    height: 580px;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  #pricing .price-box {
    width: 500px;
    height: 580px;
  }
}

#pricing .price-box h2, #pricing .price-box h3, #pricing .price-box ul {
  text-align: center;
}

#pricing .price-box h2 {
  padding-top: 75px;
  font-weight: bold;
}

@media (min-width: 576px) and (max-width: 1024px) {
  #pricing .price-box h2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

#pricing .price-box h3 {
  margin-top: 32px;
  margin-bottom: 39px;
  font-size: 23px;
}

#pricing .price-box ul {
  margin-top: 40px;
  margin-bottom: 5vh;
  list-style-position: inside;
  margin-right: 50px;
}

#pricing .price-box ul li {
  font-size: 18px;
  line-height: 40px;
  color: #B2AFB2;
  list-style: none;
}

#pricing .price-box ul li::before {
  content: "\2022";
  color: #C266BB;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#pricing .price-box a {
  color: #C266BB;
  background-color: white;
  border: 1px solid #C266BB;
  border-radius: 100px;
  margin-left: 7em;
  padding: 10px 30px;
}

#pricing .price-box a:hover {
  background-color: #C266BB;
  color: #ffffff;
  border-radius: 100px;
  text-decoration: none;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

@media (min-width: 0px) and (max-width: 575px) {
  #pricing .price-box a {
    margin-left: 23vw;
    padding: 10px 20px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #pricing .price-box a {
    margin-left: 9em;
  }
}

@media (width: 1024px) {
  #pricing .price-box a {
    margin-left: 11em;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  #pricing .price-box a {
    margin-left: 10em;
  }
}

#app-screenshot {
  margin-top: 45.56px;
}

#app-screenshot .title {
  margin-bottom: 50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #app-screenshot img {
    width: 100%;
    margin-left: 10vw;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #app-screenshot img {
    width: 80%;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  #app-screenshot img {
    margin: 47px;
  }
}

#app-screenshot .ss-group {
  padding-left: 80px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #app-screenshot .ss-group {
    padding-left: 0px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #app-screenshot .ss-group {
    padding-left: 100px;
  }
}

@media (width: 1024px) {
  #app-screenshot .ss-group {
    padding-left: 100px;
  }
}

#app-screenshot .ss-group img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 999;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#faq {
  margin-top: 70px;
  padding: 56px;
}

@media (min-width: 0px) and (max-width: 575px) {
  #faq {
    padding: 10px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  #faq .faq-img {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #faq .faq-img {
    width: 100%;
  }
}

#faq .accordion-button {
  margin-top: 20px;
}

#faq .accordion-button .title {
  border: 1px solid #662962;
  border-radius: 100px;
  padding: 10px 21px;
  width: 590px;
  font-weight: 600;
  -webkit-box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  #faq .accordion-button .title {
    width: 100%;
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #faq .accordion-button .title {
    width: 100%;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  #faq .accordion-button .title {
    width: 100%;
  }
}

#faq .accordion-button .title:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 12px 9px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 12px 9px 4px rgba(0, 0, 0, 0.25);
}

#faq .accordion-button .title span {
  margin-top: 10px;
  width: 90%;
}

#faq .accordion-button .title a {
  background-color: #C266BB;
  text-align: center;
  text-decoration: none;
  padding-top: 9px;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#faq .accordion-button .title a svg {
  width: 15.5px;
  height: 15.5px;
}

#faq .accordion-button .content {
  display: none;
  border: 1px solid #C266BB;
  padding: 0px 22px;
  padding-top: 80px;
  width: 590px;
  height: auto;
  top: -58px;
  z-index: -1;
  border-radius: 33px;
  -webkit-box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 576px) and (max-width: 1024px) {
  #faq .accordion-button .content {
    width: 638px;
  }
}

@media (width: 1024px) {
  #faq .accordion-button .content {
    width: 440px;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  #faq .accordion-button .content {
    width: 100%;
  }
}

#faq .open .title {
  background-color: #C266BB;
  position: absolute;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 0px) and (max-width: 575px) {
  #faq .open .title {
    width: 91%;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  #faq .open .title {
    width: 95%;
  }
}

@media (min-width: 1537px) and (max-width: 1920px) {
  #faq .open .title {
    width: 100%;
  }
}

#faq .open span {
  width: 90%;
}

#faq .open a {
  background-color: #ffffff !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#faq .open a svg path {
  fill: #C266BB;
}

#faq .open .content {
  display: block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 0px) and (max-width: 575px) {
  #faq .open .content {
    width: 100%;
  }
}

.footer {
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  padding: 51px 70px;
  color: #ffffff;
}

@media (min-width: 0px) and (max-width: 575px) {
  .footer {
    padding: 30px;
  }
}

.footer .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer .logo span {
  color: white;
  font-size: 21px;
  margin-left: 10px;
}

.footer .logo img {
  width: 30px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .footer .logo {
    margin: 20px 0px;
  }
}

.footer ul {
  padding: 0px;
}

.footer ul li {
  list-style: none;
  color: #D0C9C9;
}

.footer .usefull-link h1 {
  font-size: 25px;
}

@media (min-width: 576px) and (max-width: 1024px) {
  .footer .usefull-link h1 {
    font-size: 29px;
  }
}

.footer .usefull-link ul li {
  line-height: 31px;
}

.footer .contact h1 {
  font-size: 28px;
}

@media (min-width: 576px) and (max-width: 1024px) {
  .footer .contact h1 {
    font-size: 29px;
  }
}

.footer .contact i {
  font-size: 12px;
}

.footer .contact ul li {
  line-height: 31px;
  width: 190px;
}

.footer .social-media-link i {
  background-color: #ffffff;
  color: #C266BB;
  padding: 15px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.footer .social-media-link i:hover {
  color: white;
  background-color: transparent;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.footer .app-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .footer .app-download {
    display: block;
  }
}

.footer .app-download a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  width: 180px;
  height: 63px;
  border-radius: 10px;
  margin-right: 19px;
  text-decoration: none;
  background-color: #5E5454;
}

@media (min-width: 0px) and (max-width: 575px) {
  .footer .app-download a {
    margin-top: 10px;
  }
}

.footer .app-download a:nth-child(2) {
  background-color: #7988D8;
}

.footer .app-download a .fa-play {
  font-size: 25px;
}

.footer .app-download a .fa-apple {
  font-size: 31px;
}

.footer .app-download a i {
  color: white;
  margin-right: 10px;
}

.footer .app-download a .text {
  color: #ffffff;
}

.footer .app-download a .text span {
  font-size: 14px;
}

.footer .app-download a .text h1 {
  font-size: 18px;
}

.footer hr {
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */