@-webkit-keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p {
  font-size: 12px;
}

.header-section {
  position: absolute;
  z-index: 999;
  width: 100%;
}

.header-section .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-section .header-wrapper .logo {
  padding: 31px 0px;
}

.header-section .header-wrapper .menu {
  margin-top: 33px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header-section .header-wrapper .menu {
    display: none;
  }
}

.header-section .header-wrapper .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-section .header-wrapper .menu ul li {
  list-style: none;
  margin-right: 18px;
  color: #C266BB;
}

.header-section .header-wrapper .menu ul li:nth-child(5) {
  margin-right: 280px;
}

.banner-1 .bg-img img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-1 .bg-img img {
    height: 190%;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-1 .banner-shape {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .banner-1 .banner-shape {
    display: none;
  }
}

.banner-1 .banner-shape img {
  top: 0;
  right: 0;
  width: 60%;
  height: 85%;
  position: absolute;
}

.banner-1 .banner-content {
  width: 361px;
  margin-top: 218px;
  margin-left: 92px;
  color: #ffffff;
}

@media (min-width: 576px) and (max-width: 991px) {
  .banner-1 .banner-content {
    width: 200px;
  }
}

.banner-1 .banner-content h2 {
  font-size: 48px;
  font-weight: bold;
}

@media (min-width: 576px) and (max-width: 991px) {
  .banner-1 .banner-content h2 {
    font-size: 35px;
  }
}

.banner-1 .banner-content p {
  font-size: 18px;
  color: #E5E5E5;
}

@media (min-width: 576px) and (max-width: 991px) {
  .banner-1 .banner-content p {
    font-size: 14px;
  }
}

.banner-1 .banner-content a {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 13px 50px;
  border-radius: 5px;
  line-height: 74px;
}

.banner-1 .banner-slider img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  width: 333px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-1 .banner-slider img {
    margin-top: 60px;
    height: 590px;
    width: 280px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .banner-1 .banner-slider img {
    width: 100%;
  }
}

.banner-1 .slider-button-group {
  margin-top: 222px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-1 .slider-button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
}

.banner-1 .slider-button-group .active {
  background: url("../images/button-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-1 .slider-button-group .active {
    -webkit-box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.banner-1 .slider-button-group .active .text {
  color: #ffffff;
}

.banner-1 .slider-button-group .active .text h3 {
  color: #ffffff !important;
  font-size: 20px;
}

.banner-1 .slider-button-group .active .svg-icon path {
  fill: #ffffff;
}

.banner-1 .slider-button-group .icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C266BB;
  border: 1px solid #C266BB;
  width: 321px;
  text-decoration: none;
  padding-left: 10px;
  margin: 10px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-1 .slider-button-group .icon-button {
    width: 50px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .banner-1 .slider-button-group .icon-button {
    width: 50px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
  }
}

.banner-1 .slider-button-group .icon-button:hover {
  background: url("../images/button-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.banner-1 .slider-button-group .icon-button:hover .text {
  color: #ffffff;
}

.banner-1 .slider-button-group .icon-button:hover .text h3 {
  color: #ffffff;
}

.banner-1 .slider-button-group .icon-button:hover .svg-icon path {
  fill: #ffffff;
}

.banner-1 .slider-button-group .icon-button .icon {
  z-index: 1;
}

.banner-1 .slider-button-group .icon-button .icon .svg-icon {
  margin-right: 10px;
}

.banner-1 .slider-button-group .icon-button .text {
  z-index: 1;
  width: 232px;
  padding-top: 10px;
}

.banner-1 .slider-button-group .icon-button .text h3 {
  font-size: 20px;
  font-weight: bold;
  color: #662962;
  line-height: 13px;
}

.banner-1 .slider-button-group .icon-button .text p {
  font-size: 12px;
  line-height: 15px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-1 .slider-button-group .icon-button .text {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .banner-1 .slider-button-group .icon-button .text {
    display: none;
  }
}

.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner img {
  margin-right: 61.59px;
  margin-top: 83px;
  padding: 20px 90px;
  width: 100%;
  height: 130px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .partner img {
    padding: 25px 30px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .partner img {
    padding: 25px 30px;
  }
}

.app-screenshot {
  margin-top: 45.56px;
}

.app-screenshot img {
  width: 202px;
  height: 429px;
}

.app-screenshot .ss-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-screenshot .ss-group .center-ss img {
  width: 288px;
  height: 579px;
}

.subscription {
  background: url("../images/subscribe-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  .subscription {
    padding: 20px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .subscription .subscribe-img {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .subscription .subscribe-img {
    width: 100%;
  }
}

.subscription h5 {
  font-size: 24px;
  letter-spacing: 0.12em;
}

.subscription h2 {
  font-size: 48px;
  color: #C266BB;
  letter-spacing: 0.05em;
}

.subscription p {
  font-size: 14px;
  color: #B2AFB2;
  letter-spacing: 0.1em;
  line-height: 184%;
}

.subscription input[type=text] {
  border: 1px solid #C266BB;
  border-radius: 100px;
  width: 550px;
  height: 80px;
  padding: 28px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .subscription input[type=text] {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .subscription input[type=text] {
    width: 100%;
  }
}

.subscription input[type=text]::-webkit-input-placeholder {
  color: #B2AFB2;
  font-size: 21px;
}

.subscription input[type=text]:-ms-input-placeholder {
  color: #B2AFB2;
  font-size: 21px;
}

.subscription input[type=text]::-ms-input-placeholder {
  color: #B2AFB2;
  font-size: 21px;
}

.subscription input[type=text]::placeholder {
  color: #B2AFB2;
  font-size: 21px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .subscription input[type=text]::-webkit-input-placeholder {
    font-size: 17px;
  }
  .subscription input[type=text]:-ms-input-placeholder {
    font-size: 17px;
  }
  .subscription input[type=text]::-ms-input-placeholder {
    font-size: 17px;
  }
  .subscription input[type=text]::placeholder {
    font-size: 17px;
  }
}

.subscription a {
  background-color: #C266BB;
  color: #ffffff;
  border-radius: 100px;
  padding: 10px 30px;
  text-decoration: none;
  position: absolute;
  right: 30px;
  top: 213px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .subscription a {
    top: 237px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .subscription a {
    top: 185px;
  }
}

.app-statistic {
  background: url("../images/bg-statistic.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 31px;
}

.pricing h1 {
  margin-bottom: 100px;
}

.pricing .icon {
  background-color: #C266BB;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 30px;
  position: absolute;
  top: -50px;
  left: 130px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .pricing .icon {
    margin: 50px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .pricing .icon {
    margin: 50px 180px;
  }
}

.pricing .icon img {
  width: 44px;
  height: 44px;
}

.pricing .price-box {
  border: 1px solid #C266BB;
  height: 536px;
  width: 328px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .pricing .price-box {
    margin: 50px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .pricing .price-box {
    margin: 50px auto;
  }
}

.pricing .price-box h2, .pricing .price-box h3 {
  text-align: center;
}

.pricing .price-box h2 {
  padding-top: 75px;
  font-weight: bold;
}

.pricing .price-box h3 {
  margin-top: 32px;
  margin-bottom: 39px;
}

.pricing .price-box ul {
  margin-top: 40px;
  margin-bottom: 64px;
}

.pricing .price-box ul li {
  font-size: 18px;
  line-height: 40px;
  color: #B2AFB2;
}

.pricing .price-box a {
  background-color: #C266BB;
  color: #ffffff;
  border-radius: 100px;
  padding: 10px 30px;
  text-decoration: none;
  margin-left: 86px;
}

.faq {
  margin-top: 70px;
  padding: 56px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .faq .faq-img {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .faq .faq-img {
    width: 100%;
  }
}

.faq .accordion-button {
  margin-top: 20px;
}

.faq .accordion-button .title {
  border: 1px solid #662962;
  border-radius: 100px;
  padding: 10px 21px;
  width: 590px;
  font-weight: 600;
  -webkit-box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 0px) and (max-width: 575px) {
  .faq .accordion-button .title {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .faq .accordion-button .title {
    width: 100%;
  }
}

.faq .accordion-button .title:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 12px 9px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 12px 9px 4px rgba(0, 0, 0, 0.25);
}

.faq .accordion-button .title span {
  margin-top: 10px;
}

.faq .accordion-button .title a {
  background-color: #C266BB;
  text-align: center;
  text-decoration: none;
  padding-top: 9px;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.faq .accordion-button .title a svg {
  width: 15.5px;
  height: 15.5px;
}

.faq .accordion-button .content {
  display: none;
  border: 1px solid #C266BB;
  padding: 0px 22px;
  padding-top: 80px;
  width: 590px;
  height: auto;
  top: -58px;
  z-index: -1;
  border-radius: 33px;
  -webkit-box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.faq .open .title {
  background-color: #C266BB;
  position: absolute;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 0px) and (max-width: 575px) {
  .faq .open .title {
    width: 93%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .faq .open .title {
    width: 95%;
  }
}

.faq .open a {
  background-color: #ffffff !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.faq .open a svg path {
  fill: #C266BB;
}

.faq .open .content {
  display: block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 576px) {
  .faq .open .content {
    width: 100%;
  }
}

.footer {
  background: url("../images/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  padding: 51px 70px;
  color: #ffffff;
}

@media (min-width: 0px) and (max-width: 575px) {
  .footer .footer-logo img {
    margin: 20px 0px;
  }
}

.footer ul {
  padding: 0px;
}

.footer ul li {
  list-style: none;
  color: #D0C9C9;
}

.footer .usefull-link h1 {
  font-size: 36px;
}

.footer .usefull-link ul li {
  line-height: 31px;
}

.footer .contact i {
  font-size: 12px;
}

.footer .contact ul li {
  line-height: 31px;
  width: 190px;
}

.footer .social-media-link i {
  background-color: #ffffff;
  color: #C266BB;
  padding: 16px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  cursor: pointer;
}

.footer .app-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
}

.footer .app-download a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  width: 180px;
  height: 63px;
  border-radius: 10px;
  margin-right: 19px;
  text-decoration: none;
  background-color: #5E5454;
}

.footer .app-download a:nth-child(2) {
  background-color: #7988D8;
}

.footer .app-download a img {
  width: 26px;
  height: 28px;
  margin-right: 10px;
}

.footer .app-download a .text {
  color: #ffffff;
}

.footer .app-download a .text span {
  font-size: 14px;
}

.footer .app-download a .text h1 {
  font-size: 18px;
}

.footer hr {
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */