
@import '_abstracts/_mixins';
@import '_abstracts/_variables';
@import '_base/_typography';





//header section
.header-section{
    position: absolute;
    z-index: 999;
    width: 100%;
    .header-wrapper{
        display: flex;
        justify-content: space-between;
        .logo{
            padding: 31px 0px;
        }
        .menu{
            margin-top: 33px;
            @include breakpoint(phone){
                display: none;
            }
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-right: 18px;
                    color: $primary-color;
                    &:nth-child(5){
                        margin-right: 280px;
                    }
                }
            }
        }
    }
}


//banner section
.banner-1{
    .bg-img{
        img{
            position: absolute;
            top: 0;
            height: 100%;
            width:100%;
            @include breakpoint(phone){
                height: 190%;
            }
        }
    }

    .banner-shape{
        @include breakpoint(phone){
            display: none;
        }
        @include breakpoint(tablet){
            display: none;
        }
        img{
            top: 0;
            right: 0;
            width: 60%;
            height: 85%;
            position: absolute;
        }
    }

    .banner-content{
        width: 361px;
        margin-top: 218px;
        margin-left: 92px;
        color: $white-color;
        @include breakpoint(tablet){
            width: 200px;
        }
        h2{
            font-size: 48px;
            font-weight: bold;
            @include breakpoint(tablet){
                font-size: 35px;
            }
        }
        p{
            font-size: 18px;
            color: $font-color-1;
            @include breakpoint(tablet){
                font-size: 14px;
            }
        }
        a{
            @include outline-button();
        }

    }

    .banner-slider{
        img{
            display: flex;
            height: 650px;
            width: 333px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(phone){
                margin-top: 60px;
                height: 590px;
                width: 280px;
            }
            @include breakpoint(tablet){
                width: 100%;
            }
        }
    }


    .slider-button-group{
        margin-top: 222px;
        @include breakpoint(phone){
            display: flex;
            justify-content: center;
            margin-top: 0px;
        }
        .active{
            @include bg-setup("../images/button-bg.png");
            @include breakpoint(phone){
                box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.25);;
            }
            .text{
                color:$white-color;
                 h3{
                    color:$white-color!important;
                    font-size: 20px;
                 }
                 
            }

            .svg-icon path {
                fill: $white-color;
            }
            
        }
        .icon-button{
            display: flex;
            align-items: center;
            color:$primary-color;
            border: 1px solid $primary-color;
            width: 321px;
            text-decoration: none;
            padding-left: 10px;
            margin: 10px;
            @include breakpoint(phone){
                @include responsive-banner-slider-button()
            }
            @include breakpoint(tablet){
                @include responsive-banner-slider-button()
            }
           
            &:hover{
              @include bg-setup("../images/button-bg.png");
                transition: 0.5s ease;
                .text{
                    color:$white-color;
                    h3{
                        color:$white-color;
                    }
                }

                .svg-icon path {
                    fill: $white-color;
                }
            }
           
            .icon{
                z-index: 1;
                .svg-icon{
                    margin-right: 10px;
                }
                
              
            }
            .text{
                z-index: 1;
                width: 232px;
                padding-top: 10px;
                h3{
                    font-size: 20px;
                    font-weight: bold;
                    color: darken($primary-color,30%);
                    line-height: 13px;
                }
                p{
                    font-size: 12px;
                    line-height: 15px;
                }
                
                @include breakpoint(phone){
                    display: none;
                }
                @include breakpoint(tablet){
                    display: none;
                }
                
            }
        }
    }
    
}

// partner section

.partner{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        margin-right: 61.59px;
        margin-top: 83px;
        padding: 20px 90px;
        width: 100%;
        height: 130px;
        @include breakpoint(phone){
            padding: 25px 30px;
        }
        @include breakpoint(tablet){
            padding: 25px 30px;
        }
    }
}



 // App Screenshot Section
.app-screenshot{
    margin-top: 45.56px;
    img{
        width: 202px;
        height: 429px;
    }
    .ss-group{
        display: flex;
        align-items: center;
        justify-content: center;
        .center-ss{
            img{
                width: 288px;
                height: 579px;
            }
         }
    }
    
}


// Subscribe section

.subscription{
    @include bg-setup("../images/subscribe-bg.svg");
    @include breakpoint(phone){
        padding: 20px;
    }
    .subscribe-img{
        @include breakpoint(phone){
            width: 100%;
        }
        @include breakpoint(tablet){
            width: 100%;
        }
    }
    h5{
        font-size: 24px;
        letter-spacing: 0.12em;
    }
    h2{
        font-size: 48px;
        color:$primary-color;
        letter-spacing: 0.05em;
    }
    p{
        font-size: 14px;
        color: $font-color-2;
        letter-spacing: 0.1em;
        line-height: 184%;
    }
    input[type=text]{
        border: 1px solid $primary-color;
        border-radius: 100px;
        width: 550px;
        height: 80px;
        padding: 28px;
        @include breakpoint(phone){
            width: 100%;
        }
        @include breakpoint(tablet){
            width: 100%;
        }
        &::placeholder{
            color: $placeholder;
            font-size: 21px;
              @include breakpoint(phone){
                    font-size: 17px;
                }
        }
    }
    a{
        @include button1();
        position: absolute;
        right: 30px;
        top: 213px;
        @include breakpoint(phone){
           top:237px;
        }
        @include breakpoint(tablet){
           top:185px;
        }
    }
}

// App Statistic Section

.app-statistic{
    @include bg-setup("../images/bg-statistic.svg");
    color:$white-color;
    padding-top:31px;
}


// Pricing Section

.pricing{
   
    h2{
        margin-bottom: 100px;
    }
    .icon{
        background-color: $primary-color;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 30px;
        position: absolute;
        top: -50px;
        left: 130px;
        @include breakpoint(phone){
            margin: 50px;
        }   
        @include breakpoint(tablet){
            margin: 50px 180px;
        }   
        img{
            width: 44px;
            height: 44px;
        }
    }
    .price-box{
        border: 1px solid $primary-color;
        height: 536px;
        width: 328px;
         @include breakpoint(phone){
            margin: 50px;
        }   
         @include breakpoint(tablet){
            margin: 50px auto;
        }   
        h2,h3{
            text-align: center;
        }
        h2{
            padding-top: 75px;
            font-weight: bold;
        }
        h3{
            margin-top:32px;
            margin-bottom:39px;
        }

        ul{
            margin-top:40px;
            margin-bottom:64px;
            li{
                font-size: 18px;
                line-height: 40px;
                color: $list-color;
            }
        }
        a{
            @include button1();
            margin-left:86px;
        }
    }
}


// FAQ Section

.faq{
    margin-top: 70px;
    padding: 56px;
    .faq-img{
        @include breakpoint(phone){
            width: 100%;
        }  
        @include breakpoint(tablet){
            width: 100%;
        }  
    }
    .accordion-button{
        margin-top: 20px;
        .title{
            border: 1px solid darken($primary-color,30%);
            border-radius: 100px;
            padding: 10px 21px;
            width: 590px;
            font-weight: 600;
            box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: space-between;
            background-color: $white-color;
            cursor: pointer;
            transition: 0.5s ease;
            @include breakpoint(phone){
                width: 100%;
            }   
            @include breakpoint(tablet){
                width: 100%;
            }   
            &:hover{
               box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 12px 9px 4px rgba(0, 0, 0, 0.25);
            }
            span{
                margin-top: 10px;
            }
            a{
                background-color: $primary-color;
                text-align: center;
                text-decoration: none;
                padding-top: 9px;
                border-radius: 50%;
                width: 39px;
                height: 39px;
                transition: 0.5s ease;
                svg{
                    width: 15.5px;
                    height: 15.5px;
                }

            }
        }

        

        .content{
            display: none;
            border: 1px solid $primary-color;
            padding: 0px 22px;
            padding-top: 80px;
            width: 590px;
            height: auto;
            top: -58px;
            z-index: -1;
            border-radius: 33px;
            box-shadow: 12px 9px 4px rgba(0, 0, 0, 0.25);
            transition: 0.5s ease;

        }
        
    }
    .open{
        .title{
            background-color: $primary-color;
            position: absolute;
            box-shadow: none;
            transition: 0.5s ease;
            @include breakpoint(phone){
                width: 93%;
            }   
            @include breakpoint(tablet){
                width: 95%;
            }   
        }
        a{
            background-color: $white-color!important;
            transform: rotate(180deg);
            transition: 0.5s ease;
            svg path {
                    fill: $primary-color;
                }
        }
        .content{
            display: block;
            transition: 0.5s ease;
            @include breakpoint(sm){
                width: 100%;
            }  

        }
    }
}

// footer

.footer{
    @include bg-setup("../images/footer-bg.svg");
    margin-top: 10px;
    padding: 51px 70px;
    color:$white-color;
    .footer-logo{
        img{
            @include breakpoint(phone){
                margin:20px 0px;
            }
        }
    }

    ul{
        padding: 0px;
        li{
            list-style: none;
            color:$footer-text-color;
        }    
    }

    .usefull-link{
        h1{
        font-size: 36px;
        }
        ul{
            li{
                line-height: 31px;
            }
        }
    }
    

    .contact{
        i{
            font-size: 12px;
        }
        ul{
            li{
                line-height: 31px;
                width: 190px;
            }
        }
    }

    .social-media-link{
        i{
            background-color: $white-color;
            color:$primary-color;
            padding: 16px;
            width: 47px;
            height: 47px;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .app-download{
        display: flex;
        margin-top: 47px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            width: 180px;
            height: 63px;
            border-radius: 10px;
            margin-right: 19px;
            text-decoration: none;
            background-color: $google-play;
            &:nth-child(2){
                background-color: $app-store;
            }
            img{
                width: 26px;
                height: 28px;
                margin-right: 10px;
            }
            .text{
                color:$white-color;
                span{
                    font-size: 14px;
                }
                h1{
                    font-size: 18px;
                }
            }
        }
    }

    hr{
        background-color: $white-color;
    }
    
}