


@mixin bg-setup($url) {
    background: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin button1() {
    background-color: $primary-color;
    color: $white-color;
    border-radius: 100px;
    text-decoration: none;
    &:hover{
        color: $primary-color;
        background-color: white;
        border: 1px solid $primary-color;
        border-radius: 100px;
        transition: 0.7s ease-in-out;
    }
}

@mixin button1-outline() {
    color: $primary-color;
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 100px;
    &:hover{
        background-color: $primary-color;
        color: $white-color;
        border-radius: 100px;
        text-decoration: none;
        transition: 0.7s ease-in-out;
    }
}

@mixin button2-outline() {
    border: 1px solid #B158AC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 17px 77px;
    text-decoration: none;
    color: #5A4F4F;
    &:hover{
        background-color: $primary-color;
        color: white;
        transition: 0.7s ease-in-out;
    }
}

@mixin list-dot() {
    list-style: none;
    &::before{
        content: "\2022";
        color: $primary-color;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }
}

@mixin outline-button(){
    text-decoration: none;
    color:$white-color;
    border: 1px solid $white-color;
    padding: 13px 50px;
    border-radius: 5px;
    line-height: 74px;
}

@mixin responsive-banner-slider-button{
    width: 50px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
}

@mixin logo-style{
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    span{
        color:white;
        font-size: 21px;
        margin-left: 10px;
    }
}

//opacity transition 
@mixin opacity-transition {
    -moz-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

//  transform property
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

//  animation apply
@mixin animation($property,$time) {
    -webkit-animation: $property $time linear infinite;
    -moz-animation: $property $time linear infinite;
    -ms-animation: $property $time linear infinite;
    -o-animation: $property $time linear infinite;
    animation: $property $time linear infinite;
}


    

@mixin breakpoint($point) {
    @if $point==phone {
        @media (min-width: 0px) and (max-width: 575px) {
            @content ;
        }
    }
    @else if $point==tablet {
        @media (min-width: 576px) and (max-width: 1024px) {
            @content ;
        }
    }
    @else if $point==ipad-pro {
        @media (width: 1024px) {
            @content ;
        }
    }
    @else if $point==laptop {
        @media (min-width: 1440px) and (max-width: 1536px) {
            @content ;
        }
    }
    @else if $point=desktop{
        @media (min-width: 1537px) and (max-width: 1920px) {
            @content ;
        }
    }
    
}