


@mixin bg-setup($url) {
    background: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin button1() {
    background-color: $primary-color;
    color: $white-color;
    border-radius: 100px;
    text-decoration: none;
}

@mixin outline-button(){
    text-decoration: none;
    color:$white-color;
    border: 1px solid $white-color;
    padding: 13px 50px;
    border-radius: 5px;
    line-height: 74px;
}

@mixin responsive-banner-slider-button{
    width: 50px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
}

//opacity transition 
@mixin opacity-transition {
    -moz-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

//  transform property
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

//  animation apply
@mixin animation($property,$time) {
    -webkit-animation: $property $time linear infinite;
    -moz-animation: $property $time linear infinite;
    -ms-animation: $property $time linear infinite;
    -o-animation: $property $time linear infinite;
    animation: $property $time linear infinite;
}


    

@mixin breakpoint($point) {
    @if $point==phone {
        @media (min-width: 0px) and (max-width: 575px) {
            @content ;
        }
    }
    @else if $point==tablet {
        @media (min-width: 576px) and (max-width: 1024px) {
            @content ;
        }
    }
    @else if $point==ipad-pro {
        @media (width: 1024px) {
            @content ;
        }
    }
    @else if $point==laptop {
        @media (min-width: 1440px) and (max-width: 1536px) {
            @content ;
        }
    }
    @else if $point=desktop{
        @media (min-width: 1537px) and (max-width: 1920px) {
            @content ;
        }
    }
    
}