$bootstrap-sass-asset-helper: false !default;

// Variables
// Colors

$paragraph-color:#B2AFB2;
$footer-text-color:#D0C9C9;

$primary-color: #C266BB;

// social-media icons color

$google-play: #5E5454;
$app-store: #7988D8;

$Body: 'Open Sans', sans-serif;
$body: 'Open Sans', sans-serif;
$Heading:  'Josefin Sans', sans-serif;
$heading:  'Josefin Sans', sans-serif;


 //Description line height
 $lh-p: 28px; //28px;

 //  transition
$transition: all ease 0.3s;
