$bootstrap-sass-asset-helper: false !default;

// Variables
// Colors

$font-color-1:#E5E5E5;
$font-color-2:#B2AFB2;
$footer-text-color:#D0C9C9;
$white-color:#ffffff;

$primary-color: #C266BB;

// social-media icons color

$google-play: #5E5454;
$app-store: #7988D8;


// font
$font1: 'Poppins', sans-serif;



 //  transition
$transition: all ease 0.3s;
